<html>
    <body>
        <head>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
          <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
          <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
          <link rel="stylesheet" href="../static/node_1.css">
        </head>
        <div><input type="checkbox" class='toggle' id='box4000' checked data-toggle="toggle"></div>
        <div class='status' id='toggledbox4000'>On</div>
    <div class="blue", id="circle0"></div>
    </body>
    <script>
    $(document).ready(function() {
        var port4000 = 'On'
        $('#box4000').change(function() {
          var status = document.getElementById('toggledbox4000').innerHTML
          if (status == 'On') {
            $('#toggledbox4000').html('Off');
          }
          else {
            $('#toggledbox4000').html('On');
          }
          $.ajax({
                url: "/get_toggled_status",
                type: "GET",
                data: {status: status, port: 4000},
            });
          $.ajax({
            type: "GET",
            url: "http://localhost:5000/access",
            success: function(response) {
                console.log(response);
                response = JSON.parse(response);
                console.log(response);
                if (Object.keys(response).indexOf("actuator1") >= 0){
                    if (response["actuator1"] == 1) {
                        $("#circle0").attr("class", "black");
                    }
                    else {
                        $("#circle0").attr("class", "blue");
                    }
                }
          }
        });
        });
      });
    </script>
</html>